@import 'src/assets/variables/colors';
@import 'src/assets/mixins/line';
@import 'src/assets/mixins/media';

.today {
    position: relative;
    height: 200px;
    margin: 0 19px 0 37px;
    color: $darkGrey;
    background: $RgbaLightGrey;
    backdrop-filter: blur(290px);
    border-radius: 15px;
    outline: none;

    @include screen1680 {
        margin: 0 20px 53px 0;
    }

    @include screen576 {
        height: 465px;
    }

    &__title {
        position: relative;
        div {
            padding: 10px 0 0 10px;
            width: 340px;
            font-size: 16px;
            font-weight: 400;

            @include screen576 {
                width: 100%;
            }
        }

        &:before {
            @include line(-10px);
        }
    }

    &__items {
        display: flex;
        justify-content: space-between;
        list-style: none;
        height: 122px;
        margin: 16px 17px 0 10px;

        @include screen576 {
            flex-direction: column;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        @include screen576 {
            flex-direction: row;
        }
    }

    &__time {
        font-weight: 500;
        font-size: 17px;

        @include screen576 {
            width: 70px;
        }
    }

    &__img {
        text-align: center;
    }

    &__degrees {
        font-weight: 500;
        font-size: 22px;
    }
}
