@import 'src/assets/mixins/media';

.table {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    margin: 38px 0 0 15px;

    @include screen1680 {
        display: grid;
        grid-template-columns: 1fr;
    }
}

.mainMenu {
    display: flex;
    flex-direction: column;
}
