@import 'src/assets/variables/colors';
@import 'src/assets/mixins/line';
@import 'src/assets/mixins/media';

.table{
  display: flex;
  justify-content: space-between;
}

@include screen1680{
  .table {
    flex-direction: column;
  }
}

@include screenMax1140 {

  .table {
    flex-direction: column;
  }
}

.mainMenu {
  margin: 0 auto;
}

.header {
  margin-top: 30px;
  color: $white;
  width: 100%;
  text-align: center;

  @include screen576 {
    width: 630px;
  }

  &__title {
    font-weight: 400;
    font-size: 37px;
  }

  &__degrees {
    font-weight: 200;
    font-size: 80px;
  }

  &__description {
    font-weight: 400;
    font-size: 24px;
  }

  &__coordinates {
    font-weight: 500;
    font-size: 21px;
  }
}

.forecast {
  width: 535px;
  margin: 35px 0 0 40px;
  padding: 0 25px 0 17px;
  list-style: none;
  background: $RgbaLightGrey;
  backdrop-filter: blur(290px);
  border-radius: 15px;

  @include screen1680 {
    width: 700px;
    height: 670px;
  }

  @include screen1280 {
    width: 700px;
  }

  @include screen768 {
    width: 700px;
  }

  @include screen576 {
    width: 600px;
    margin-left: 30px;
  }

  &__item {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    height: 70px;

    &:before {
      @include line(65px)
    }
  }

  &__left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100px;
  }

  &__right {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__week {
    font-weight: 500;
    margin-right: 20px;
    font-size: 22px;
  }

  &__min {
    font-weight: 500;
    font-size: 22px;
    text-align: center;
  }

  &__max {
    font-weight: 500;
    font-size: 22px;
  }

  &__line {
    position: relative;
    width: 165px;
    height: 4px;
    margin: 0 20px;
    background-color: $black;
    border-radius: 44px;
  }
  &__range {
    position: absolute;
    height: 4px;
    background: linear-gradient(90deg, #96D0A8 0%, #B5CF79 22.81%, #F8D74A 54.18%, #EF8835 99%);
    border-radius: 44px;
  }
}

.title {
  font-weight: 500;
  padding-top: 14px;
  font-size: 15px;
  text-align: center;
  color: $greyBlack;
}

.today {
  width: 628px;
  height: 200px;
  margin: 35px 19px 0 40px;
  color: $darkGrey;
  background: $RgbaLightGrey;
  backdrop-filter: blur(290px);
  border-radius: 15px;

  @include screen1680 {
    width: 700px;
  }

  @include screen576 {
    width: 600px;
    margin-left: 30px;
  }

  &:before {
    @include line(60px);
  }

  &__title {
    width: 340px;
    padding: 10px 0 0 10px;
    font-size: 18px;
    font-weight: 400;
  }

  &__items {
    display: flex;
    justify-content: space-between;
    list-style: none;
    height: 122px;
    margin: 16px 17px 0 10px;
  }
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

  }

  &__time {
    font-weight: 500;
    font-size: 17px;
  }

  &__img {
    text-align: center;
  }

  &__degrees {
    font-weight: 500;
    font-size: 22px;
  }
}

.boards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 0 0 37px;
  width: 628px;

  @include screen1680 {
    width: 700px;
    margin: 0 0 50px 37px;
  }

  @include screen576 {
    width: 600px;
  }


}

.board {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
  min-height: 200px;
  margin-top: 40px;
  padding-left:20px;
  background: $RgbaLightGrey;
  border: 1px solid $RgbaLightWhite;
  backdrop-filter: blur(290px);
  border-radius: 18px;

  @include screen576{
    margin-right: 20px;
    height: 250px;
  }

  @include screen1680 {
      margin-top: 40px;
  }

  .logo {
    margin-right: 8px;
  }

  &__title {
    margin: 15px 0 5px;
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
    opacity: 0.3;
  }

  &__index {
    font-weight: 400;
    font-size: 44px;
  }

  &__level {
    font-weight: 500;
    font-size: 27px;
  }


  &__description {
    max-width: 171px;
    margin: auto 0 15px 0;
    font-weight: 400;
    font-size: 20px;
  }

  &__compass {
    transform: translateX(20%);
  }

  &__vector {
    width: 100%;
  }

  &__time {
    font-weight: 400;
    font-size: 40px;
  }

  &__degrees{
    font-weight: 400;
    font-size: 35px;
  }

  &__percent {
    font-weight: 400;
    font-size: 35px;
  }

  &__visibility {
    font-weight: 400;
    font-size: 43px;
  }

  &__imgVector {
    position: absolute;
    top: 90px;
    left: 0;
  }

  &__lvlImg {
    position: relative;
    width: 165px;
    height: 5px;
    background: linear-gradient(90deg, #65DB7C 1.17%, #F5E753 24.98%, #E63A52 77.89%, #B55DE0 99.24%);
  }

  &__circle {
    position: absolute;
    width: 4.94px;
    height: 4.85px;
    background: $white;
  }

  &__imgCompass {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-40%);
  }
}