@import "src/assets/variables/colors";

.description {
  position: absolute;
  max-width: 166px;
  bottom: 5px;
  font-weight: 400;
  font-size: 20px;
}

.degrees {
  margin-top: 5px;
  font-weight: 400;
  font-size: 35px;
}