@import '../../../assets/variables/colors';
@import '../../../assets/mixins/magnifier';
@import '../../../assets/mixins/media';

.popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  background: $RgbaLightBlue;
  backdrop-filter: blur(16px);

  @include screenMax1140 {
    display: none;
  }

  &__close {
    cursor: pointer;

    &:after, &:before {
      content: '';
      position: absolute;
      right: -30px;
      top: -15px;
      width: 30px;
      height: 2px;
      background-color: $white;
      transform: rotate(45deg);
    }

    &:before {
      transform: rotate(135deg);
    }
  }

  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 621px;
    height: 289px;
    transform: translate(-50%, -50%);
  }

  &__search {
    width: 100%;
    height: 44px;
    padding-left: 46px;
    border-radius: 16px 16px 0 0;
    background: $grey;
    outline: none;
    border: none;
  }

  &__input {

    input {
      cursor: pointer;
      position: relative;
      width: 100%;
      height: 44px;
      padding: 0 46px;
      border-radius: 16px 16px 0 0;
      border: none;
      outline: none;
    }

    &:before {
      @include magnifier(13px, 18px)
    }
  }

  &__results {
    position: relative;
    padding: 17px 17px;
    margin: 0;
    background: $white;
    border-radius: 0 0 16px 16px;

    @include screenMax1140 {
      position: absolute;
      top: 100px;
      left: 0;
      display: none;
      width: 100%;
      height: 100%;
      background-color: $black;
      z-index: 1;
    }
  }

  &__item {
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 16px;
    padding-left:10px;
  }

  &__name {
    font-weight: 400;
    font-size: 16px;
    color: $black;
  }

  &__country {
    font-weight: 400;
    font-size: 15px;
    color: $darkBlack;
  }

  &__button {
    cursor: pointer;
    width: 621px;
    height: 41px;
    margin-top: 40px;
    background: $greyBlue;
    border-radius: 31px;
    border: none;

    &:hover {
      background: $blue;
    }
  }

  .checked {
    content: url('../../../assets/img/Vectorchecked.svg');
    margin-left: auto;
  }
}

@keyframes slidebg {
  to {
    background-position:20vw;
  }
}