@import 'src/assets/variables/colors';
@import 'src/assets/mixins/line';
@import 'src/assets/mixins/media';

.forecast {
  width: 535px;
  margin: 35px 0 0 40px;
  padding: 0 25px 0 17px;
  list-style: none;
  background: $RgbaLightGrey;
  backdrop-filter: blur(290px);
  border-radius: 15px;

  @include screen1680 {
    width: 700px;
    height: 670px;
  }

  @include screen1280 {
    width: 700px;
  }

  @include screen768 {
    width: 700px;
  }

  @include screen576 {
    width: 600px;
    margin-left: 30px;
  }

  &__item {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    height: 55px;

    &:before {
      @include line(50px)
    }
  }

  &__left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100px;
  }

  &__right {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__week {
    font-weight: 500;
    margin-right: 20px;
    font-size: 22px;
  }

  &__min {
    font-weight: 500;
    font-size: 22px;
    text-align: center;
  }

  &__max {
    font-weight: 500;
    font-size: 22px;
  }

  &__line {
    position: relative;
    width: 165px;
    height: 4px;
    margin: 0 20px;
    background-color: $black;
    border-radius: 44px;
  }
  &__range {
    position: absolute;
    height: 4px;
    background: linear-gradient(90deg, #96D0A8 0%, #B5CF79 22.81%, #F8D74A 54.18%, #EF8835 99%);
    border-radius: 44px;
  }
}

.title {
  font-weight: 500;
  padding-top: 14px;
  font-size: 15px;
  text-align: center;
  color: $greyBlack;
}