@import "src/assets/variables/colors";

.forecast {
  width: 535px;
  height: 706px;
  margin: 38px 0 0 40px;
  padding: 0 25px 0 17px;
  list-style: none;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(290px);
  border-radius: 15px;

  &__items {
    padding: 0;
  }

  &__item {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    height: 55px;
    &:before {
      content: '';
      position: absolute;
      top: 50px;
      width: 100%;
      opacity: 0.5;
      border: 0.2px solid $greyBlack;
    }
  }

  &__left {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__right {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__week {
    margin-right: 20px;
    font-size: 22px;
  }

  &__min {
    font-size: 22px;
    text-align: center;
  }

  &__max {
    font-size: 22px;
  }

  &__line {
    width: 165px;
    height: 4px;
    margin: 0 20px 0 20px;
    background-color: $black;
    border-radius: 44px;
  }
}

.title {
  padding-top: 14px;
  font-size: 15px;
  text-align: center;
  color: $greyBlack;
}