@import "src/assets/variables/colors";
@import "src/assets/mixins/media";
@import "src/assets/mixins/magnifier";

.input {
  position: relative;

  input {
    cursor: pointer;
    width: 100%;
    height: 44px;
    margin-bottom: 30px;
    border-radius: 47px;
    border: none;
    padding: 0 46px;

    &:hover {
      background: linear-gradient(to right, $blue 0%, $greyBlue 100%);
      transform: rotate(0deg);
    }

    &::placeholder {
      font-weight: 400;
      font-size: 17px;
    }

    @include screenMax1140 {
      width: 600px;
    }

    @include screen576 {
      width: 400px;
    }

  }

  &:before {
    @include magnifier(0, 20px);
  }
}


