@import 'src/assets/variables/colors';
@import 'src/assets/mixins/media';

@include screenMax1140 {
    .line {
        width: 30px;
        height: 2px;
        margin-bottom: 10px;
        background-color: $white;

        &:before {
            content: '';
            width: 2px;
            height: 2px;
            margin-left: -5px;
            background-color: $white;
            border-radius: 100%;
        }
    }
}
