@import 'src/assets/variables/colors';
@import 'src/assets/mixins/line';
@import 'src/assets/mixins/media';

.forecast {
    height: 700px;
    padding: 0 25px 0 17px;
    list-style: none;
    background: $RgbaLightGrey;
    backdrop-filter: blur(290px);
    border-radius: 15px;
    outline: none;

    @include screen1680 {
        margin: 0 20px 53px 0;
        height: 670px;
    }

    &__item {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        height: 70px;

        &:before {
            @include line(65px);
        }
    }

    &__left {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100px;
        min-height: 60px;

        @include screen475 {
            justify-content: normal;
            width: 0;
        }
    }

    &__right {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 250px;

        @include screen475 {
            justify-content: right;
            width: 150px;
        }
    }

    &__week {
        font-weight: 500;
        font-size: 22px;
        width: 35px;
    }

    &__min {
        font-weight: 500;
        font-size: 22px;
        text-align: center;
    }

    &__max {
        font-weight: 500;
        font-size: 22px;
    }

    &__line {
        position: relative;
        width: 200px;
        height: 4px;
        margin: 0 20px;
        background-color: $black;
        border-radius: 44px;

        @include screen475 {
            width: 100px;
            margin: 0 10px;
        }
    }

    &__range {
        position: absolute;
        height: 4px;
        background: linear-gradient(
            90deg,
            $lightMint 0%,
            $LightGreen 22%,
            $Yellow 54%,
            $orange 99%
        );
        border-radius: 44px;
    }
}

.title {
    font-weight: 500;
    padding-top: 14px;
    font-size: 15px;
    text-align: center;
    color: $greyBlack;
}
