@import 'src/assets/mixins/media';
@import "src/assets/variables/colors";

.cardsAside {
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    height: 200px;
    margin-bottom: 30px;
    background-size: cover;
    border-radius: 14px;
    background: linear-gradient(0deg, $RgbBlack, $RgbBlack);

    &__left,
    &__right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 159px;
    }

    &__left {
        margin: 25px 0 0 20px;
    }

    &__right {
        margin: 25px 20px 0 0;
    }

    &__title {
        margin-top: 5px;
        font-weight: 700;
        font-size: 32px;
    }

    &__time {
        margin-bottom: auto;
        font-weight: 400;
        font-size: 21px;
    }

    &__description {
        font-weight: 400;
        font-size: 21px;

        @include screen1280 {
            font-size: 20px;
            text-align: left;
        }
    }

    &__degrees {
        font-weight: 300;
        font-size: 80px;
    }

    &__coordinates {
        font-weight: 500;
        font-size: 21px;

        @include screen1280 {
            font-size: 20px;
            text-align: right;
        }
    }
}
