@import 'src/assets/variables/colors';
@import 'src/assets/mixins/media';

.popup {
    &__wrapper {
        display: flex;
    }

    &__results {
        width: 100%;
        padding: 17px 17px;
        margin: 0;
        background: $white;
        border-radius: 0 0 16px 16px;

        @include screenMax1140 {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 4;
            width: 100%;
            height: 100%;
            padding: 100px 0 0 40px;
            background-color: $black;
            border-radius: 0;
        }
    }

    &__item {
        cursor: pointer;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 16px;
        padding-left: 10px;
    }

    &__name {
        font-weight: 400;
        font-size: 16px;
        color: $black;

        @include screenMax1140 {
            color: $white;
        }
    }

    &__country {
        font-weight: 400;
        font-size: 15px;
        color: $darkBlack;

        @include screenMax1140 {
            color: $white;
        }
    }

    &:hover {
        background: $blue;
    }
}
