@import 'src/assets/mixins/media';

.background {
    position: absolute;
    object-fit: fill;
    border-radius: 17px;
    z-index: -1;
}

.back {
    position: absolute;
    object-fit: fill;
    border-radius: 17px;
    z-index: -50;
}
