@import '../../../assets/variables/colors';
@import '../../../assets/mixins/media';
@import '../../../assets/mixins/magnifier';

.mobile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    padding: 26px 20px 0 20px;
    color: $white;
    background: $RgbaDarkBlue;
    backdrop-filter: blur(340px);
    display: none;

    @include screenMax1140 {
        display: block;
    }

    &__header {
        display: flex;
        justify-content: space-between;
    }
}
