@import 'src/assets/mixins/media';

.App, .table{
  display: flex;
  justify-content: space-between;
}

@include screen1680{
  .table {
    flex-direction: column;
  }
}

@include screen576 {
  .App {
    display: flex;
  }

  .table {
    flex-direction: column;
  }
}
