$white: #ffffff;
$black: #000000;
$greyBlack: #424242;
$grey: #f3f3f3;
$greyBlue: #abbfce;
$blue: #3aa9ff;
$darkGrey: #373c42;
$lightBlue: #4e707b;
$darkBlack: #3c3c43;
$RgbaDarkBlue: rgba($blue, 0.15);
$RgbaLightGrey: rgba($white, 0.1);
$RgbaLightBlue: rgba($lightBlue, 0.42);
$RgbaDarkBlack: rgba($darkBlack, 0.6);
$RgbaLightWhite: rgba($white, 0.25);
