$white: #ffffff;
$black: #000000;
$greyBlack: #424242;
$grey: #f3f3f3;
$greyBlue: #abbfce;
$blue: #3aa9ff;
$darkGrey: #373c42;
$darkBlue: rgba(0, 148, 255, 0.15);
$lightGrey: rgba(255, 255, 255, 0.1);
$lightBlue: rgba(78, 112, 123, 0.42);
$darkBlack: rgba(60, 60, 67, 0.6);
$lightWhite: rgba(255, 255, 255, 0.25);
