.today {
  margin: 38px 19px 0 37px;
  width: 628px;
  height: 200px;
  color: #373C42;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(290px);
  border-radius: 15px;
  &__title {
    width: 340px;
    font-size: 18px;
    padding: 10px 0 0 10px;
  }
  &__items {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 16px 17px 0 10px;
  }
  &__time {
    font-size: 17px;
  }
  &__img {
    margin: 24px 0 24px 0;
    text-align: center;
  }
  &__degrees {
    font-size: 22px;
  }
}