@import 'src/assets/variables/colors';
@import 'src/assets/mixins/media';

.board {
    position: relative;
    width: 200px;
    min-height: 200px;
    padding-left: 20px;
    background: $RgbaLightGrey;
    border: 1px solid $RgbaLightWhite;
    backdrop-filter: blur(290px);
    border-radius: 18px;
}
