@import 'src/assets/variables/colors.scss';
@import 'src/assets/mixins/media';

.boards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 53px 0 0 37px;
  width: 628px;

  @include screenMax1140 {
    margin-bottom: 50px;
  }

  @include screen1680 {
    width: 700px;
  }

  @include screen576 {
    width: 600px;
  }

  @include screen576 {
    margin: 53px 0 50px 37px;
  }
}

.board {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
  min-height: 200px;
  padding-left:20px;
  background: $RgbaLightGrey;
  border: 1px solid $RgbaLightWhite;
  backdrop-filter: blur(290px);
  border-radius: 18px;
  margin-right: 5px;

  @include screen576{
    height: 250px;
    margin-bottom: 15px;
  }

  @include screenMin577 {
    &:nth-child(n + 4) {
      margin-top: 40px;
    }
  }

  .logo {
    margin-right: 8px;
  }

  &__title {
    margin: 15px 0 5px;
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
    opacity: 0.3;
  }

  &__index {
    font-weight: 400;
    font-size: 44px;
  }

  &__level {
    font-weight: 500;
    font-size: 27px;
  }


  &__description {
    max-width: 171px;
    margin: auto 0 15px 0;
    font-weight: 400;
    font-size: 22px;
  }

  &__compass {
    transform: translateX(20%);
  }

  &__vector {
    width: 100%;
  }

  &__time {
    font-weight: 400;
    font-size: 43px;
  }
  &__format {
    font-weight: 400;
    font-size: 30px;
  }

  &__degrees{
    font-weight: 400;
    font-size: 35px;
  }

  &__percent {
    font-weight: 400;
    font-size: 35px;
  }

  &__visibility {
    font-weight: 400;
    font-size: 43px;
  }

  &__imgVector {
    position: absolute;
    top: 105px;
    left: 0;
  }

  &__lvlImg {
    position: relative;
    width: 165px;
    height: 5px;
    background: linear-gradient(90deg, #65DB7C 1.17%, #F5E753 24.98%, #E63A52 77.89%, #B55DE0 99.24%);
  }

  &__circle {
    position: absolute;
    width: 4.94px;
    height: 4.85px;
    background: $white;
  }

  &__imgCompass {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-40%);
  }
}