@import 'src/assets/variables/colors';

.boards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 628px;
  margin: 53px 0 0 37px;
}

.board {
  width: 200px;
  height: 200px;
  background: $lightGrey;
  border: 0.6px solid $lightWhite;
  backdrop-filter: blur(290px);
  border-radius: 18px;

  &:nth-child(1):not(&:nth-child(4)) {
    margin-bottom: 30px;
  }

  .logo {
    margin-right: 8px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 168px;
    padding: 18px 0 0 20px;
  }

  &__title {
    font-size: 18px;
    text-transform: uppercase;
  }

  &__index {
    font-size: 44px;
  }

  &__level {
    font-size: 27px;
  }

  &__description {
    vertical-align: bottom;
    font-size: 22px;
  }

  &__compass {
    width: 140px;
    height: 140px;
    margin: 0 auto;
  }

  &__vector {
    width: 100%;
  }

  &__time {
    font-size: 43px;
  }

  &__degrees, &__percent, &__visibility{
    margin-bottom: auto;
    font-size: 35px;
  }

  &__percent {
    font-size: 35px;
  }

  &__visibility {
    font-size: 43px;
  }
}