@import 'src/assets/variables/colors.scss';
@import 'src/assets/mixins/media';

.boards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 628px;
  margin: 53px 0 0 37px;

  @include screen1680 {
    width: 700px;
  }

  @include screen576 {
    width: 600px;
    margin: 35px 19px 0 20px;
  }
}

.board {
  width: 200px;
  min-height: 200px;
  background: $RgbaLightGrey;
  border: 1px solid $RgbaLightWhite;
  backdrop-filter: blur(290px);
  border-radius: 18px;

  @include screen576{
    height: 250px
  }

  &:nth-child(n + 4) {
    margin-top: 40px;

    @include screen1680 {
      margin-top: 5px;
    }
  }

  .logo {
    margin-right: 8px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
    padding-left:20px;
  }

  &__title {
    margin: 15px 0 5px;
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
    opacity: 0.3;
  }

  &__index {
    font-weight: 400;
    font-size: 44px;
  }

  &__level {
    font-weight: 500;
    font-size: 27px;
  }


  &__description {
    max-width: 171px;
    margin: auto 0 15px 0;
    font-weight: 400;
    font-size: 22px;
  }

  &__compass {
    transform: translateX(20%);
  }

  &__vector {
    width: 100%;
  }

  &__time {
    font-weight: 400;
    font-size: 43px;
  }
  &__format {
    font-weight: 400;
    font-size: 30px;
  }

  &__degrees{
    font-weight: 400;
    font-size: 35px;
  }

  &__percent {
    font-weight: 400;
    font-size: 35px;
  }

  &__visibility {
    font-weight: 400;
    font-size: 43px;
  }

  &__imgVector {
    position: absolute;
    top: 105px;
    left: 0;
  }
  &__imgCompass {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-40%);
  }
}