@import 'src/assets/variables/colors.scss';
@import 'src/assets/mixins/magnifier';
@import 'src/assets/mixins/media';

.aside {
  position: relative;
  width: 661px;
  min-height: 100vh;
  padding: 26px 20px 0 20px;
  color: $white;
  background: $RgbaDarkBlue;
  backdrop-filter: blur(340px);

  @include screen576 {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    height: 100%;
    width: 661px;
    padding: 26px 50px 0 20px;
    color: $white;
    background: $RgbaDarkBlue;
    backdrop-filter: blur(340px);
  }

  &__input {

    input {
      position: relative;
      width: 100%;
      height: 44px;
      margin-bottom: 30px;
      border-radius: 47px;
      border: none;
      outline: none;
      padding: 0 46px;
      z-index: 10;

      &::placeholder {
        font-weight: 400;
        font-size: 17px;
      }
    }

    &:before {
      @include magnifier(40px, 40px)
    }
  }
  @include screenMin577 {

    &__wrapper {
      display: none;
    }
  }

  @include screen576 {

    &__wrapper {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      width: 100%;
      height: 100%;
      background-color: $black;
      z-index: 1;
    }

    &__results {
      margin: 100px 0 0 50px;
      list-style: none;
    }

    &__item {
      margin-bottom: 20px;
      font-weight: 400;
    }

    &__name {
      font-size: 15px;
    }

    &__country {
      font-size: 16px;
      color: $greyBlack;
    }
  }

  &__myLocation {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 200px;
    background: url('../../assets/img/myLocationLink.jpg') no-repeat center;
    background-size: cover;
    border-radius: 14px;
  }
  &__left, &__right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 159px;
  }
  &__left {
    margin: 25px 0 0 20px;
  }

  &__right {
    margin: 25px 20px 0 0;

  }

  &__title {
    margin-top:5px;
    font-weight: 700;
    font-size: 32px;
  }

  &__city {
    margin-bottom: auto;
    font-weight: 400;
    font-size: 21px;
  }

  &__description {
    font-weight: 400;
    font-size: 21px;

    @include screen1280 {
      font-size: 20px;
      text-align: left;
    }
  }

  &__degrees {
    font-weight: 300;
    font-size: 80px;
  }

  &__coordinates {
    font-weight: 500;
    font-size: 21px;

    @include screen1280 {
      font-size: 20px;
      text-align: right;
    }
  }
}

