@import 'src/assets/variables/colors';
@import 'src/assets/mixins/line';
@import 'src/assets/mixins/media';

.boards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left:37px;
    width: 628px;

    @include screen1680 {
        width: 700px;
    }

    @include screenMax1140 {
        margin: 0 auto 60px auto;
    }

    @include screen576 {
        width: 576px;
    }
}