@import 'src/assets/variables/colors';
@import 'src/assets/mixins/line';
@import 'src/assets/mixins/media';

.boards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 0 0 37px;
    width: 628px;

    @include screen1680 {
        width: 700px;
        margin: 0 0 50px 37px;
    }

    @include screen576 {
        width: 600px;
    }
}

.board {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
    min-height: 200px;
    margin-top: 40px;
    padding-left: 20px;
    background: $RgbaLightGrey;
    border: 1px solid $RgbaLightWhite;
    backdrop-filter: blur(290px);
    border-radius: 18px;

    @include screen576 {
        margin-right: 20px;
    }

    @include screen1680 {
        margin-top: 40px;
    }

    .logo {
        margin-right: 8px;
    }

    &__title {
        margin: 15px 0 5px;
        font-weight: 500;
        font-size: 18px;
        text-transform: uppercase;
        opacity: 0.3;
    }

    &__index {
        font-weight: 400;
        font-size: 44px;
    }

    &__level {
        font-weight: 500;
        font-size: 27px;
    }

    &__description {
        max-width: 171px;
        margin: auto 0 15px 0;
        font-weight: 400;
        font-size: 20px;
    }

    &__compass {
        transform: translateX(20%);
    }

    &__vector {
        width: 100%;
    }

    &__time {
        font-weight: 400;
        font-size: 40px;
    }

    &__degrees {
        font-weight: 400;
        font-size: 35px;
    }

    &__percent {
        font-weight: 400;
        font-size: 35px;
    }

    &__visibility {
        font-weight: 400;
        font-size: 43px;
    }

    &__imgVector {
        position: absolute;
        top: 90px;
        left: 0;
    }

    &__lvlImg {
        position: relative;
        width: 165px;
        height: 5px;
        background: linear-gradient(
            90deg,
            #65db7c 1.17%,
            #f5e753 24.98%,
            #e63a52 77.89%,
            #b55de0 99.24%
        );
    }

    &__circle {
        position: absolute;
        width: 4.94px;
        height: 4.85px;
        background: $white;
    }

    &__imgCompass {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-40%);
    }
}
