@import 'src/assets/mixins/media';
@import 'src/assets/mixins/magnifier';
@import 'src/assets/variables/colors';

.input {
    flex: auto;

    input {
        cursor: pointer;
        width: 100%;
        height: 44px;
        padding-left: 50px;
        border: none;
        outline: none;
        background: $white;
        border-radius: 16px 16px 0 0;

        &::placeholder {
            font-weight: 400;
            font-size: 17px;
        }

        @include screenMax1140 {
            position: relative;
            z-index: 100;
            width: 100%;
            margin-bottom: 30px;
            font-size: 20px;
            border-radius: 27px;
        }
    }

    &:before {
        @include magnifier(15px, 20px);

        @include screenMax1140 {
            display: none;
        }
    }
}
