@import 'src/assets/variables/colors';

.board {
    &__index {
        font-weight: 400;
        font-size: 44px;
    }

    &__level {
        font-weight: 500;
        font-size: 27px;
    }

    &__lvlImg {
        position: relative;
        width: 165px;
        height: 5px;
        margin-top: 8px;
        background: $gradientUviIndex;
    }

    &__circle {
        position: absolute;
        width: 5px;
        height: 5px;
        background: $white;
    }
    &__description {
        width: 166px;
        font-weight: 400;
        font-size: 22px;
        color: $darkBlack;
    }
}
